@import 'colors';
@import 'buttons';

body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  font-family: Nunito, sans-serif;
  overflow-x: hidden;
}
:root {
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
// bootstrap container width
@media (min-width: 1200px) {
  .container {
    max-width: 1147px;
  }
}

// general
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0;
}
// selection
::selection {
  color: #fff;
  background-color: color(color-4);
}
/* Scrollbar */
/** firefox  */
html {
  scrollbar-width: thin;
  scrollbar-color: color(color-4) color(color-2);
}
/** chrome  */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: color(color-2);
}
body::-webkit-scrollbar-thumb {
  background: color(color-4);
}
// anchor tag
a {
  color: inherit;
  cursor: pointer;
  &:hover {
    color: color(color-4);
    text-decoration: none;
  }
  transition: color 0.3s ease;
}
// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
